.comment_cart
    display flex
    justify-content space-between
    flex-direction row

.cart_number
    width 5%

.number_text
    border-radius 50%
    border 1px solid black
    width 50px
    text-align center